.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.menu__link{
    display: block;
    padding: 10px;
    margin: 5px;
    
    background-color: rgb(125, 141, 152);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.login{
    display: inline-block;
     padding: 8px;
     margin: 3px;
     background-color: rgb(125, 141, 152);
     color: rgb(255, 255, 255);
     text-decoration: none;
}
.header__logo-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
} 
.header__logo-wrap{
    text-decoration: none;
    color: rgb(0, 0, 0);
   }
   .header__title{
    margin: 0;
   }
.header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header__menu{
    width: 100%;
    flex-shrink: 0;
   }
             